<div class="col-sm-12 top-gap">
	<legend>Memory</legend>
	<div class="text-center">
		<%= image_tag system_usage_chart_path(chart: :total_services_memory_usage_pie_chart) %>
		<%= image_tag system_usage_chart_path(chart: :services_memory_usage_bar_chart) %>
	</div>
</div>
