.panel.dashboard_panel { border: none; box-shadow: none; margin-top: 10px; margin-bottom: 0px; }
.panel.dashboard_panel .panel-heading { background-color: #fff; padding: 0px; color: #ccc; }
.panel.dashboard_panel .panel-body { padding: 0px;}
.panel.dashboard_panel.system_side_panel dt { margin-top: 10px; font-weight: inherit; color: #ccc; }

/*@media (max-width: 767px) {
  .dashboard_container { display: block; width: 100%; }
}*/


.dashboard .row { margin-top: 10px;}

a.dashboard_container:hover { text-decoration: none; color: inherit;}
a.dashboard_container:focus { outline: thin dotted; text-decoration: none; color: inherit; }
a.dashboard_container:active { box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.dashboard_container_label { color: #333; white-space: nowrap; margin: 0px; padding: 5px 16px; font-size: 18px; }
.dashboard_container_label:hover { background-color: rgba(0, 0, 0, 0.025); }
.dashboard_container_label div { display: inline-block; vertical-align: top;}
.dashboard_container_label_text div { display: block; }
.dashboard_container_label_subtext { font-size: 12px; color: #ccc; }

@media (min-width: 768px) {
  .dashboard_containers {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}
@media (min-width: 992px) {
  .dashboard_containers {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}
@media (min-width: 1200px) {
  .dashboard_containers {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}


.display_inline {
  display: inline-block;
}

.pull_right_wide_media {
  left: auto;
  right: 0;
  float: right;
}
.pull_right_wide_media ul {
  left: auto;
  right: 0;
  float: right;
}
@media (max-width: 767px) {
  .pull_right_wide_media {
    left: 0;
    right: auto;
    float: left;
  }
  .pull_right_wide_media ul {
    left: 0;
    right: auto;
    float: left;
  }
}
