a.engines_container:hover { text-decoration: none; color: inherit;}
a.engines_container:focus { outline: thin dotted; text-decoration: none; color: inherit; }
a.engines_container:active { box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.engines_container_label { color: #333; white-space: nowrap; margin: 0px; padding: 5px 16px; font-size: 18px; }
.engines_container_label:hover { background-color: rgba(0, 0, 0, 0.025); }
.engines_container_label div { display: inline-block; vertical-align: top;}
.engines_container_label_text div { display: block; }
.engines_container_label_subtext { font-size: 12px; color: #ccc; }


.app_show_on_portal_indicator { color: #ccc; font-size: 14px; }

.container_state_indicator {}
.engines_container_label_text {}


.control_panel_container_state_indicator {
  padding: 10px 16px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .engines_containers {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
}
@media (min-width: 992px) {
  .engines_containers {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }
}
@media (min-width: 1200px) {
  .engines_containers {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
  }
}
