.installer_libarary_app img {
  height: 96px;
  width: 96px;
}

.installer_libarary_app {
  width: 150px;
  height: 170px;
  padding-top: 20px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  word-wrap: break-word;
  line-height: inherit;
  overflow: hidden;
  /*color: #333;*/
}

a:hover .installer_libarary_app {
  text-decoration: none; color: #333;
}
a:active .installer_libarary_app {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}




.installer_builder_tabs.tab-content {
  margin-top: 10px;
  height: 80vh;
}

.installer_builder_tabs.tab-content .tab-pane {
  height: 100%;
}

.installer_builder_tabs.tab-content .tab-pane pre {
  height: 100%;
}
